extends baseSite.pug
block style
    link(rel='stylesheet', href='https://unpkg.com/aos@2.3.1/dist/aos.css')
    link(href='/static/style/fontArvo.css', rel='stylesheet')
    link(href='/static/style/fontQuickSand.css', rel='stylesheet')
    link(href='/static/style/tailwind.min.css', rel='stylesheet')
    link(href='/static/style/homePageStyle.css', rel='stylesheet')
    script(data-ad-client="ca-pub-9725756988745063" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
    title Calendaree, We manage your time!!!

block content
    section.main-section-in-home-page
      .div-having-taglines-inside-main-section-in-home-page  
        h1.headings-inside-website We manage your time
        h2 Calendaree enables you to manage your time in a revolutionary way. Time is Money, isn’t it?
        a(href="/login").anchor-tag-for-webapp Go To Calendaree WebApp
      .div-having-image-of-webapp-inside-main-section-in-home-page 
        img(src="/static/image/calendar.jpeg", alt="Calendaree WebApp", srcset="")   
    section.advertisement
      script(async src='https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js')
      // Mob2
      ins.adsbygoogle(style='display:block' data-ad-client='ca-pub-9725756988745063' data-ad-slot='8997088230' data-ad-format='auto' data-full-width-responsive='true')
      script.
        (adsbygoogle = window.adsbygoogle || []).push({});      
    section.body-font.section-having-service-features
      .container.px-5.py-24.mx-auto.div-having-services-name
        .flex.flex-col.text-center.w-full.mb-20
          h1.text-2xl.font-medium.title-font.mb-4.text-gray-900.headings-inside-website(class='sm:text-3xl')
            | Calendaree's Features
        .flex.flex-wrap
          .px-8.py-6.border-l-2.border-gray-200(class='xl:w-1/4 lg:w-1/2 md:w-full')
            h2.text-lg.text-gray-900.font-medium.title-font.mb-2.headings-inside-website(class='sm:text-xl') WebApp
            p.leading-relaxed.text-base.mb-4 Calendaree is a WebApp, so you don’t need to install or upgrade. Just Register and start using it.
            a.text-indigo-500.inline-flex.items-center(href="./features")
              | Learn More
              svg.w-4.h-4.ml-2(fill='none', stroke='currentColor', stroke-linecap='round', stroke-linejoin='round', stroke-width='2', viewBox='0 0 24 24')
                path(d='M5 12h14M12 5l7 7-7 7')
          .px-8.py-6.border-l-2.border-gray-200(class='xl:w-1/4 lg:w-1/2 md:w-full')
            h2.text-lg.text-gray-900.font-medium.title-font.mb-2.headings-inside-website(class='sm:text-xl') Multi-Calendars
            p.leading-relaxed.text-base.mb-4 Calendaree provides you Two or more Calendars
            p.leading-relaxed.text-base.mb-4 Private Calendar – to manage your personal appointments, and keep them separate from professional Engagements
            p.leading-relaxed.text-base.mb-4 Professional Calendars – where you can provide your time to you clients, records there visits, documents, receipts, communication
            a.text-indigo-500.inline-flex.items-center(href="./features")
              | Learn More
              svg.w-4.h-4.ml-2(fill='none', stroke='currentColor', stroke-linecap='round', stroke-linejoin='round', stroke-width='2', viewBox='0 0 24 24')
                path(d='M5 12h14M12 5l7 7-7 7')
          .px-8.py-6.border-l-2.border-gray-200(class='xl:w-1/4 lg:w-1/2 md:w-full')
            h2.text-lg.text-gray-900.font-medium.title-font.mb-2.headings-inside-website(class='sm:text-xl') Book Appointments
            p.leading-relaxed.text-base.mb-4 Check and book calendar before you visit any friend or place or professional service, you can see their calendar check availability.

            a.text-indigo-500.inline-flex.items-center(href="./features")
              | Learn More
              svg.w-4.h-4.ml-2(fill='none', stroke='currentColor', stroke-linecap='round', stroke-linejoin='round', stroke-width='2', viewBox='0 0 24 24')
                path(d='M5 12h14M12 5l7 7-7 7')
          .px-8.py-6.border-l-2.border-gray-200(class='xl:w-1/4 lg:w-1/2 md:w-full')
            h2.text-lg.text-gray-900.font-medium.title-font.mb-2.headings-inside-website(class='sm:text-xl') Share documents
            p.leading-relaxed.text-base.mb-4 Add your document with appointment
            p.leading-relaxed.text-base.mb-4   You can share your document in any form before you visit to someone, so that in advance they can review and this will help to save time further
            a.text-indigo-500.inline-flex.items-center(href="./features")
              | Learn More
              svg.w-4.h-4.ml-2(fill='none', stroke='currentColor', stroke-linecap='round', stroke-linejoin='round', stroke-width='2', viewBox='0 0 24 24')
                path(d='M5 12h14M12 5l7 7-7 7')
          .px-8.py-6.border-l-2.border-gray-200(class='xl:w-1/4 lg:w-1/2 md:w-full')
            h2.text-lg.text-gray-900.font-medium.title-font.mb-2.headings-inside-website(class='sm:text-xl') Life Long
            p.leading-relaxed.text-base.mb-4
              | And afterlife as well
            p.leading-relaxed.text-base.mb-4  
              | We promise we will never delete your data in your life and after life as well we will hand it over to legal nominees, you can also set permissions for your near and dear ones.
            a.text-indigo-500.inline-flex.items-center(href="./features")
              | Learn More
              svg.w-4.h-4.ml-2(fill='none', stroke='currentColor', stroke-linecap='round', stroke-linejoin='round', stroke-width='2', viewBox='0 0 24 24')
                path(d='M5 12h14M12 5l7 7-7 7')
          .px-8.py-6.border-l-2.border-gray-200(class='xl:w-1/4 lg:w-1/2 md:w-full')
            h2.text-lg.text-gray-900.font-medium.title-font.mb-2.headings-inside-website(class='sm:text-xl') Datewise Storage
            p.leading-relaxed.text-base.mb-4
              | Store your files on a date
            p.leading-relaxed.text-base.mb-4  
              | So your files are associated with a date, and which is certainly you want to remember, what happened and when. So there is calendaree
            a.text-indigo-500.inline-flex.items-center(href="./features")
              | Learn More
              svg.w-4.h-4.ml-2(fill='none', stroke='currentColor', stroke-linecap='round', stroke-linejoin='round', stroke-width='2', viewBox='0 0 24 24')
                path(d='M5 12h14M12 5l7 7-7 7')
          .px-8.py-6.border-l-2.border-gray-200(class='xl:w-1/4 lg:w-1/2 md:w-full')
            h2.text-lg.text-gray-900.font-medium.title-font.mb-2.headings-inside-website(class='sm:text-xl') Secure
            p.leading-relaxed.text-base.mb-4
              | Every thing is secure
            p.leading-relaxed.text-base.mb-4  
              | We have enabled end to end encryption and hence we say it is you and only you who can access your information no one else.
            a.text-indigo-500.inline-flex.items-center(href="./features")
              | Learn More
              svg.w-4.h-4.ml-2(fill='none', stroke='currentColor', stroke-linecap='round', stroke-linejoin='round', stroke-width='2', viewBox='0 0 24 24')
                path(d='M5 12h14M12 5l7 7-7 7')

block script              
    script(src='/static/script/jquery.min.js', crossorigin='anonymous')
    script(src='/static/script/jquery-3.5.1.min.js')
    script(src='/static/script/bootstrap.min.js')
    script(src='/static/script/homeScript.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')
    script(src='https://unpkg.com/aos@2.3.1/dist/aos.js')
    script.
        AOS.init();