extends base.pug
block style
    // Font Awesome
    link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.8.2/css/all.css')
    // Google Fonts
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap')
    link(href='https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap' rel='stylesheet')
    // Bootstrap core CSS
    link(href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css' rel='stylesheet')
    // Material Design Bootstrap
    link(href='https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css' rel='stylesheet')
    link(href='http://fonts.googleapis.com/css?family=Economica' rel='stylesheet' type='text/css')
    //- link(href='/static/css/per-date.css' rel='stylesheet')
    link(href='/static/css/responsive-calendar.css' rel='stylesheet')
    link(rel='stylesheet' href='/static/css/yourOwnCalendarStyle.css')
    link(rel="stylesheet", href="/static/css/hospitalVisitorAppointmentStyle.css")
    link(rel="stylesheet", href="/static/css/requestsForMedicinepage.css")
    title  Calendareee
block content
    main.main
        .d-flex.justify-content-center.date-inside-main
            .main-heading-below-navbar-in-visitor-and-doctor-appointment-page
                .main-heading-in-visitor-and-doctor-appointment-page(style='color:black;') Pharma Records
                .main-date-heading(style='color: black;')
                    | 12-10-2020
            i.fa.fa-plus-circle.add-schedule(data-toggle='modal' data-target='#addSchedule')
        section.pending
            h2 Pending Requests
            .all-cards
                .enter-card
                    .entry-image
                        img(src='/static/img/doctor.jpeg' alt='')
                    .name-number
                        .entered-vehicle-no
                            h4 Patient Name
                            h4(style='margin-left: auto;') 00:00
                        .entered-vehicle-no
                            h5
                            span(style='color: black;') Dr.Ankit Sharma
                            .entry-time-exit-button
                            // <h5>Entry: 00:00</h5>
                            button.exit-button(style='margin-left: auto;') Done
                .enter-card
                    .entry-image
                        img(src='/static/img/doctor.jpeg' alt='')
                    .name-number
                        .entered-vehicle-no
                            h4 Patient Name
                            h4(style='margin-left: auto;') 00:00
                        .entered-vehicle-no
                            h5
                            span(style='color: black;') Dr.Ankit Sharma
                            .entry-time-exit-button
                            // <h5>Entry: 00:00</h5>
                            button.exit-button(style='margin-left: auto;') Done
                .enter-card
                    .entry-image
                        img(src='/static/img/doctor.jpeg' alt='')
                    .name-number
                        .entered-vehicle-no
                            h4 Patient Name
                            h4(style='margin-left: auto;') 00:00
                        .entered-vehicle-no
                            h5
                            span(style='color: black;') Dr.Ankit Sharma
                            .entry-time-exit-button
                            // <h5>Entry: 00:00</h5>
                            button.exit-button(style='margin-left: auto;') Done

        section.done
            h2 Done
            .all-cards
                .enter-card
                    .entry-image
                        img(src='/static/img/doctor.jpeg' alt='')
                    .name-number
                        .entered-vehicle-no
                            h4 Patient Name
                            h4(style='margin-left: auto;') 00:00
                        .entered-vehicle-no
                            h5
                                span(style='color: black;') Dr.Ankit Sharma
                            .entry-time-exit-button
                                button.exit-button(style='margin-left: auto;') Picked Up
                .enter-card
                    .entry-image
                        img(src='/static/img/doctor.jpeg' alt='')
                    .name-number
                        .entered-vehicle-no
                            h4 Patient Name
                            h4(style='margin-left: auto;') 00:00
                        .entered-vehicle-no
                            h5
                                span(style='color: black;') Dr.Ankit Sharma
                            .entry-time-exit-button
                                button.exit-button(style='margin-left: auto;') Picked Up
                .enter-card
                    .entry-image
                        img(src='/static/img/doctor.jpeg' alt='')
                    .name-number
                        .entered-vehicle-no
                            h4 Patient Name
                            h4(style='margin-left: auto;') 00:00
                        .entered-vehicle-no
                            h5
                                span(style='color: black;') Dr.Ankit Sharma
                            .entry-time-exit-button
                                button.exit-button(style='margin-left: auto;') Picked Up
block script
    // JQuery
    script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js')
    // Bootstrap tooltips
    script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js')
    // Bootstrap core JavaScript
    script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js')
    // MDB core JavaScript
    script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/js/mdb.min.js')
    script(src='/static/js/dash.js')
    script(src='/static/js/jquery.js')
    script(src='/static/js/bootstrap.min.js')
    script(src='/static/js/responsive-calendar.js')
