<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subscription Page</title>
    <link rel="stylesheet" href="css/sub.css">
</head>

<body>

    <h1 class="">Subscribe To Get The Product</h1>
  
    </div>
    <button><a href="/productlist">Subscribe</a></button>
    


</body>

</html>