.section-in-features-page-containing-all-features {
    display: flex;
    justify-content: center;
    align-items: self-start;
    padding: 0 6rem;
    flex-direction: row;
    margin-top: 125px;
    width: 100%;
}

.div-containing-features-in-features-page {
    width: 47%;
    margin: 2em auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    vertical-align: middle;
}


/* .class-of-div-containing-features-in-features-page{
    -moz-column-count:3;
    -moz-column-gap: 3%;
    -moz-column-width: 30%;
    -webkit-column-count:3;
    -webkit-column-gap: 3%;
    -webkit-column-width: 30%;
    column-count: 2;
    column-gap: 3%;
    column-width: 30%;
} */

.box {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.box.one {
    height: 600px;
    background-color: #d77575;
    background-color: rgb(215 117 117 / 0.2);
    flex-direction: column-reverse;
    justify-content: space-evenly;
}

.box.two {
    height: 750px;
    background-color: #dcbc4c;
    background-color: rgb(220 188 76 / 0.4);
    justify-content: space-evenly;
    padding: 2.5rem 0;
}

.box.three {
    background-color: #3bca9c;
    background-color: rgb(59 202 156 / 0.45);
    height: 550px;
}

.box.four {
    background-color: #3daee3;
    background-color: rgb(61 174 227 / 0.3);
    height: 500px;
}

.box.five {
    background-color: rgb(187 142 216 / 0.3);
    height: 700px;
}

.box.six {
    background-color: #baafb1;
    height: 200px;
}

.box img {
    height: 70%;
    width: 42%;
    position: absolute;
}

.first-box img {
    height: 70%;
    width: 42%;
    position: relative;
}

.second-box img {
    height: 70%;
    width: 42%;
    position: relative;
}

.third-box img {
    top: -190px;
}

.fourth-box img {
    top: -185px;
}

.fifth-box img {
    top: -260px;
}

.sixth-box img {
    top: -170px;
}

.box.seventh-box {
    background-color: #4cdccf;
    background-color: rgb(76 220 207 / 0.7);
}

.seventh-box img {
    top: -195px;
}

.div-having-content-of-features {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.image-in-first-box {}

.para-having-heading {
    color: rgba(0, 0, 0, .5);
    font-size: 15px;
    font-weight: 500;
    letter-spacing: .15em;
    line-height: 17px;
    margin-bottom: 7px;
    text-transform: uppercase;
    text-align: center;
}

.para-having-second-heading {
    font-size: 24px;
    font-weight: 300;
    letter-spacing: .05em;
    line-height: 29px;
    margin-bottom: 25px;
    text-align: center;
}

.para-having-main-text-of-features {
    font-size: 14px;
    line-height: 21px;
    text-align: center;
}

@media only screen and (max-width:1150px) {
    .section-in-features-page-containing-all-features {
        padding: 0px 3rem;
    }
    .div-having-content-of-features {
        margin-top: 3rem;
    }
}

@media only screen and (max-width:1050px) {
    .para-having-main-text-of-features {
        font-size: 16px;
    }
    .box.five {
        height: 620px;
    }
    .second-box img {
        height: 60%;
    }
}

@media only screen and (max-width:870px) {
    .section-in-features-page-containing-all-features {
        padding: 0px 1.5rem;
    }
    .div-having-content-of-features {
        margin-top: 4rem;
    }
    .box img {
        width: 51%;
    }
}

@media only screen and (max-width:770px) {
    .section-in-features-page-containing-all-features {
        flex-direction: column;
    }
    .div-containing-features-in-features-page {
        width: 87%;
        margin: 0 auto;
    }
    .box {
        margin-bottom: 30px;
    }
    .box img {
        width: 39%;
    }
}

@media only screen and (max-width: 570px) {
    .box img {
        width: 43%;
    }
}

@media only screen and (max-width: 510px) {
    .box img {
        width: 48%;
    }
}

@media only screen and (max-width: 460px) {
    .second-box img {
        height: 50%;
    }
    .box img {
        width: 50%;
    }
}

@media only screen and (max-width: 460px) {
    .section-in-features-page-containing-all-features {
        padding: 0px .5rem;
    }
    .second-box img {
        height: 50%;
    }
    .box img {
        width: 54%;
    }
}