.div-having-terms-and-condition{
    text-align: center;
    width: 90%;
}

.main-text-of-terms-and-condition{
    text-align:justify;
}
.heading-of-terms-and-condition{
    font-size: 17px;
    font-weight: bold;
    margin: 0.3rem 0 0.5rem 0;
}